section.checkout_page__content__contact
    .checkout_page__content__contact__head
        h3 Billing address
    .checkout_page__content__contact__manip.buy
        label.checkout_page__content__contact__manip__chekedboxAccept
            span.text Same as shipping address
            input(type='checkbox')
            span.checkmark
    .checkout_page__content__contact__order-notes
        label(
            class='order_comments-label'
            for='order_comments'
        ) Order notes (optional)
        textarea(
            name='order_comments'
            class='input-text'
            id='order_comments'
            placeholder='Notes about your order, e.g. special notes for delivery.'
        )
section.checkout_page__content__contact
    .checkout_page__content__contact__head
        h3 Payment method
    .checkout_page__content__contact__manip
        .checkout_page__content__contact__manip__payMethod
            label.checkout_page__content__contact__manip__payMethod__elm
                //- .logo
                i.fab.fa-cc-paypal
                //- img(src="https://thumbs.dreamstime.com/b/parcel-icon-trendy-logo-concept-white-background-delivery-logistics-collection-suitable-use-web-apps-mobile-print-131189753.jpg", alt="")
                p 48h shipping
                input(type='checkbox')
                span.checkmark
                span.border
            label.checkout_page__content__contact__manip__payMethod__elm
                //- .logo
                i.fab.fa-cc-stripe
                //- img(src="https://thumbs.dreamstime.com/b/parcel-icon-trendy-logo-concept-white-background-delivery-logistics-collection-suitable-use-web-apps-mobile-print-131189753.jpg", alt="")
                p 48h shipping
                input(type='checkbox')
                span.checkmark
                span.border
        p Additional text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde magnam culpa dolorem porro aliquam. Nemo quae suscipit vitae, hic, nulla ad, explicabo cumque voluptates dicta veniam odio culpa voluptate magni.
        .checkout_page__content__contact__manip__btncont
                a.checkout_page__content__contact__manip__btn PAY
        